<div id="app-wrapper" class="container-fluid">
  <div class="grid mx-auto">
    <div class="col p-0">
      <div class="text-center">
        <h1 class="mt-5">App</h1>
      </div>
      <p-table
        [value]="trams"
        [resizableColumns]="true"
        styleClass="p-datatable-gridlines p-datatable-sm"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Destination</th>
            <th>Display Time</th>
            <th>Expected Date</th>
            <th>Expected Date Time</th>
            <th>Group Of Line</th>
            <th>Journey Direction</th>
            <th>Journey Number</th>
            <th>Line Number</th>
            <th>Stop Area Name</th>
            <th>Stop Area Number</th>
            <th>Stop Point Designation</th>
            <th>Stop Point Number</th>
            <th>Transport Mode</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tram let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>
              {{ tram.Destination }}
            </td>
            <td class="text-center">{{ tram.DisplayTime }}</td>
            <td class="text-center">{{ tram.ExpectedDateTime | date }}</td>
            <td class="text-center">
              {{ tram.TimeTabledDateTime | date: "HH:mm" }}
            </td>
            <td class="text-center">
              {{ tram.GroupOfLine }}
            </td>
            <td class="text-center">{{ tram.JourneyDirection }}</td>
            <td class="text-center">{{ tram.JourneyNumber }}</td>
            <td class="text-center">
              {{ tram.LineNumber }}
            </td>
            <td class="text-center">{{ tram.StopAreaName }}</td>
            <td class="text-center">{{ tram.StopAreaNumber }}</td>
            <td class="text-center">
              {{ tram.StopPointDesignation }}
            </td>
            <td class="text-center">{{ tram.StopPointNumber }}</td>

            <td class="text-center">{{ tram.TransportMode }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
